@font-face {
  font-family: 'iconfont'; /* Project id 3008791 */
  src: url('iconfont.woff2?t=1640679330687') format('woff2'), url('iconfont.woff?t=1640679330687') format('woff'), url('iconfont.ttf?t=1640679330687') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ali-icon-dian:before {
  content: '\ec1e';
}

.ali-icon-password:before {
  content: '\e624';
}

.ali-icon-user:before {
  content: '\e625';
}
